node_modules
.idea
tmp
admin/i18n/flat.txt
admin/i18n/*/flat.txt
iob_npm.done
.vscode
package-lock.json

# ioBroker dev-server
.dev-server/
/src/dist
/src/node_modules
/src/package-lock.json
/src-admin/package-lock.json
/src-admin/build
/src/build
