node_modules
.idea
tmp
/build
admin/i18n/flat.txt
admin/i18n/*/flat.txt
iob_npm.done

# ioBroker dev-server
.dev-server/
/src-rules/node_modules
/src-rules/package-lock.json
/src-admin/package-lock.json
/src-admin/build
/src-rules/build
/src-rules/.__mf__temp
/src-admin/.__mf__temp
/src-rules/.__mf__temp/

#ignore .commitinfo created by ioBroker release script
.commitinfo
/src-admin/.mf/
/admin/rules/@mf-types/
